<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>controller.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PickSeatServlet</servlet-name>
        <servlet-class>controller.PickSeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>controller.StoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>controller.TransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>In4ODServlet</servlet-name>
        <servlet-class>controller.In4ODServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Movie</servlet-name>
        <servlet-class>controller.Movie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieNowShowing</servlet-name>
        <servlet-class>controller.MovieNowShowing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cinema</servlet-name>
        <servlet-class>controller.CinemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountServlet</servlet-name>
        <servlet-class>controller.MyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMyAccount</servlet-name>
        <servlet-class>controller.UpdateMyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>controller.CheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSche</servlet-name>
        <servlet-class>controller.AddSche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdSche</servlet-name>
        <servlet-class>controller.UpdSche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTick</servlet-name>
        <servlet-class>controller.AddTick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdTick</servlet-name>
        <servlet-class>controller.UpdTick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSche</servlet-name>
        <servlet-class>controller.ViewSche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSche</servlet-name>
        <servlet-class>controller.DeleteSche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTick</servlet-name>
        <servlet-class>controller.DeleteTick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTick</servlet-name>
        <servlet-class>controller.ViewTick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFood</servlet-name>
        <servlet-class>controller.ViewFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdF</servlet-name>
        <servlet-class>controller.UpdF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFood</servlet-name>
        <servlet-class>controller.DeleteFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEachTypeTick</servlet-name>
        <servlet-class>controller.AddEachTypeTick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcPoint</servlet-name>
        <servlet-class>controller.ExcPoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEmployee</servlet-name>
        <servlet-class>controller.ListEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpDetail</servlet-name>
        <servlet-class>controller.EmpDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>controller.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmp</servlet-name>
        <servlet-class>controller.DeleteEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMov</servlet-name>
        <servlet-class>controller.AddMov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieReport</servlet-name>
        <servlet-class>controller.MovieReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieReportDetail</servlet-name>
        <servlet-class>controller.MovieReportDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderReport</servlet-name>
        <servlet-class>controller.OrderReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductReport</servlet-name>
        <servlet-class>controller.ProductReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeAllRate</servlet-name>
        <servlet-class>controller.SeeAllRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelRate</servlet-name>
        <servlet-class>controller.DelRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdRate</servlet-name>
        <servlet-class>controller.UpdRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateReport</servlet-name>
        <servlet-class>controller.RateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountReport</servlet-name>
        <servlet-class>controller.AccountReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderReportL</servlet-name>
        <servlet-class>controller.OrderReportL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncomeReport</servlet-name>
        <servlet-class>controller.IncomeReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterestReport</servlet-name>
        <servlet-class>controller.InterestReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllReport</servlet-name>
        <servlet-class>controller.AllReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Device</servlet-name>
        <servlet-class>controller.Device</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdDevice</servlet-name>
        <servlet-class>controller.UpdDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDevice</servlet-name>
        <servlet-class>controller.AddDevice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PickSeatServlet</servlet-name>
        <url-pattern>/seat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/transact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>In4ODServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Movie</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieNowShowing</servlet-name>
        <url-pattern>/nowshowing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cinema</servlet-name>
        <url-pattern>/cin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountServlet</servlet-name>
        <url-pattern>/acc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMyAccount</servlet-name>
        <url-pattern>/updacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSche</servlet-name>
        <url-pattern>/addsche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdSche</servlet-name>
        <url-pattern>/updsche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTick</servlet-name>
        <url-pattern>/addtick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdTick</servlet-name>
        <url-pattern>/updtick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSche</servlet-name>
        <url-pattern>/viewsche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSche</servlet-name>
        <url-pattern>/dltsche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTick</servlet-name>
        <url-pattern>/dlttick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTick</servlet-name>
        <url-pattern>/viewtick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFood</servlet-name>
        <url-pattern>/viewf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdF</servlet-name>
        <url-pattern>/updf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFood</servlet-name>
        <url-pattern>/delf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEachTypeTick</servlet-name>
        <url-pattern>/addt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcPoint</servlet-name>
        <url-pattern>/excp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmployee</servlet-name>
        <url-pattern>/liste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpDetail</servlet-name>
        <url-pattern>/empdt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/addemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmp</servlet-name>
        <url-pattern>/dele</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMov</servlet-name>
        <url-pattern>/addmov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieReport</servlet-name>
        <url-pattern>/rpm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieReportDetail</servlet-name>
        <url-pattern>/rpmd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderReport</servlet-name>
        <url-pattern>/ordr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductReport</servlet-name>
        <url-pattern>/rpp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeAllRate</servlet-name>
        <url-pattern>/sr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelRate</servlet-name>
        <url-pattern>/dlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdRate</servlet-name>
        <url-pattern>/updr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateReport</servlet-name>
        <url-pattern>/rrp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountReport</servlet-name>
        <url-pattern>/arp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderReportL</servlet-name>
        <url-pattern>/orl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomeReport</servlet-name>
        <url-pattern>/icr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterestReport</servlet-name>
        <url-pattern>/itr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllReport</servlet-name>
        <url-pattern>/alr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Device</servlet-name>
        <url-pattern>/dv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdDevice</servlet-name>
        <url-pattern>/upddv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDevice</servlet-name>
        <url-pattern>/adddv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
